$typical-font-family: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$normal-font-size: 15px;
$font-size-for-headlines: 24px;
$btn-color: #01acac;

// nav 
$width-for-nav-link: 250px;
$padding-for-nav-link: 20px;
$white-text-color: #e3e3d6;

// main
$width-for-content: 960px;
$vertical-space-between-sections: 50px;

// article 
$bg-color-for-artcile: #efefef;
$padding-for-article: 10px;
$line-heigh-for-main-text: 20px;